*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
	width: 310px;
	margin: 0 auto;	
}

/*清除浮动  clear:both;display:block;content:'';*/
ul:after{
	clear: both;
	content: '';
	display: block;
}

li{
	width: 150px;
	float: left;
	margin-right: 10px;
}

li.marginRight-0{
	margin-right: 0;
}

#footer{
	width: 100%;
	height: 100px;
	background: blue;
}
