*{
	margin: 0;
	padding: 0;
}

#wrap{
	width: 1100px;
	height: 1434px;
	margin: 0 auto;
}

header{
	height: 65px;
	width: 100%;
	background: red;
}

#banner{
	height: 424px;
	width: 100%;
	background: green;
}

#content{
	height: 718px;
	width: 100%;
	background: blue;
}

footer{
	height: 229px;
	width: 100%;
	background: black;
}
